@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  top: 0;
  box-sizing: border-box;
  /* font-family: "poppins", sans-serif; */

}

body {
  background: linear-gradient(180deg, #ffc4fb, #aeccff, #f9c4f6);
  position: relative;
  background-size: 400% 400%;
  animation: gradientMove 5s infinite ease-in-out;

  margin: 0;
  padding: 0;
  line-height: 1.6;

  color: #202124;
  /* Dark gray for professional text contrast */
  font-family: 'Poppins', sans-serif !important;
  /* Clean, modern typography */
  user-select: none;

}

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 75%;
  }

  50% {
    background-position: 100% 100%;
  }

  75% {
    background-position: 50% 25%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.progress-bar {
  position: fixed;
  top: 70px;
  left: 0;
  height: 5px;
  background: linear-gradient(90deg, #ff00ee, #0056e7, #ff00ee);
  /* Blue color */
  z-index: 9999;
  width: 0;
  transition: width 0.1s ease;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* Smooth width transition */
}

/* Scrollbar container */
body::-webkit-scrollbar {
  width: 12px;
  /* Width of the scrollbar */
  height: 12px;
  /* Height of horizontal scrollbar */
}

/* Scrollbar track (background) */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Scrollbar thumb (the part you drag) */
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Scrollbar thumb on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}

video {
  pointer-events: none;
}